.tag {
    border-radius: 25px;
    width: fit-content;
    padding: 0.5rem 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border: 1px solid;
    background-color: #222222;
}

.tag__icon {
    width: 1.2rem;
    height: auto;
}

.tag__label {
    font-size: 0.7rem;
    margin: 0;
    color: var(--font-white);
}
