.projects__container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 40px;
    margin: auto;
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media (max-width: 767px) {
    .projects__container {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }
}

/* Estilos para pantallas de tabletas en orientación vertical */
@media (min-width: 768px) and (max-width: 1199px) {
    .projects__container {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
}