.projectCard {
    background-color: var(--body-bg-color);
    display: flex;
    transition: transform 0.2s;
    text-decoration: none;
}

.projectCard__image-container {
    min-width: 45%;
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.projectCard__image {
    width: 100%;
    border-radius: 8px;
}

.projectCard__information {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.projectCard__techStack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.projectCard__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 2.2rem;
}

.projectCard__description {
    flex-grow: 1;
}

.projectCard__buttons {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-top: 20px;
}

@media (max-width: 1400px) {
    .projectCard {
        flex-direction: column-reverse;
    }

    .projectCard__image-container {
        max-width: none;
    }

    .projectCard__information {
        padding: 15px 15px;
    }

    .projectCard__image {
        width: 100%;
    }
}
