.iconCard {
    width: 40px;
    height: 40px;
    transition: transform 0.2s;
}

.iconCard__image {
    width: 100%;
    height: 100%;
}

.iconCard.interactive:hover {
    transform: scale(1.2);
}

.iconCard__image[alt="React"] {
    animation: spin infinite 10s linear;
}

.iconCard::before {
    content: attr(data-social);
    position: absolute;
    background-color: var(--border-main-color);
    color: var(--font-white);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s cubic-bezier(0.42, 0, 0.44, 1.68);
}

.iconCard:hover::before {
    transform: translateY(-65px) rotate(0);
    opacity: 1;
    visibility: visible;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .iconCard {
        height: 55px;
        width: 55px;
    }
}

@media (min-width: 1024px) {
    .iconCard {
        height: 70px;
        width: 70px;
    }
}