.iconCard {
    width: 90px;
    height: 90px;
    padding: 8px;
    transition: transform 0.2s;
}

.iconCard__image {
    width: 100%;
    height: 100%;
}

.iconCard.interactive:hover {
    transform: scale(1.2);
}

.iconCard__image[alt="React"] {
    animation: spin infinite 10s linear;
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media (max-width: 767px) {
    .iconCard {
        width: 58px;
        height: 58px;
    }
}

/* Estilos para pantallas de tabletas en orientación horizontal */
@media (min-width: 768px) and (max-width: 1199px) {
    .iconCard {
        width: 75px;
        height: 75px;
    }
}
