.home {
    margin-top: var(--header-height);
}

.home__title {
    font-weight: 700;
    margin: 0;
    user-select: none;
    color: #FFF;
}

.home__subtitle {
    font-weight: 400;
    user-select: none;
    color: #999;
    margin: 0;
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media (max-width: 767px) {

}

/* Estilos para pantallas de tabletas en orientación vertical */
@media (min-width: 768px) and (max-width: 991px) {

}