.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.home__photo {
    border-radius: 50%;
    user-select: none;
    -webkit-user-drag: none;
    width: 25vw;
    height: 25vw;
    min-width: 300px;
    min-height: 300px;
}

.home__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__title {
    font-size: clamp(28px, 4.5vw, 3000px);
    font-weight: 700;
    margin: 1px;
    user-select: none;
}

.home__subtitle {
    font-size: clamp(20px, 3vw, 3000px);
    font-weight: 400;
    min-height: 37px;
    user-select: none;
    color: #999;
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media (max-width: 767px) {
    .home {
        flex-direction: column;
    }
    .home__photo {
        width: 60vw;
        height: 60vw;
    }

}

/* Estilos para pantallas de tabletas en orientación vertical */
@media (min-width: 768px) and (max-width: 991px) {
    .home {
        flex-direction: column;
        gap: 20px;
    }
    .home__photo {
        width: 400px;
        height: 400px;
    }
}

/* Estilos para pantallas de tabletas en orientación horizontal */
@media (min-width: 992px) and (max-width: 1199px) {
    .home__photo {
        width: 370px;
        height: 370px;
    }
}