.contact__container {
    display: flex;
    width: 100%;
    max-width: 1620px;
    margin: auto;
    gap: 1.5rem;
}

.contact h3 {
    text-align: center;
}

.contact__left {
    width: 60%;
}

.contact__right {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.contact__socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    gap: 35px;
}

.contact__inputBox {
    width: 100%;
    height: 70px;
    position: relative;
}

.contact__form input {
    width: 100%;
    height: 100%;
    padding: 15px 10px 0;
    background-color: transparent;
    color: var(--font-white);
    border: none;
    border-bottom: 1px solid #333;
    padding-right: 40px;
}

.contact__inputBox__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: var(--cool-green);
    opacity: 0;
    transition: opacity 0.5s;
}

.contact__form .textareaBox {
    position: relative;
    flex-grow: 1;
    padding-bottom: 30px;
}

.textareaBox .charLimit {
    bottom: -35px;
    right: 0;
    position: absolute;
    margin: 0;
    color: #666;
}

.charLimit.valid {
    color: var(--cool-green);
}

.contact__form textarea,
.textareaBox {
    height: 100px;
}

.contact__form textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    background-color: transparent;
    color: var(--font-white);
    border: none;
    border-bottom: 1px solid #333;
    font-size: inherit;
}

.contact__inputBox label {
    position: absolute;
    left: 0;
    bottom: 24px;
    pointer-events: none;
    color: #888;
    transition: 0.2s;
    padding: 0 10px;
}

.contact__form input:focus ~ label,
.contact__form input:valid ~ label,
.contact__form input:disabled ~ label {
    color: var(--primary-color);
    font-size: 0.85em;
    transform: translateY(-20px);
    font-weight: bolder;
}

.contact__form input:focus,
.contact__form input:valid,
.contact__form textarea:focus,
.contact__form textarea:valid {
    outline: none;
    border-bottom: 1px solid var(--primary-color);
}

/* Estos selectores de botón no me gustan, los margenes deberían ser problema del contenedor. Pero por ahora es lo que hay */
.contact__form .button {
    margin-top: 20px;
}

.contact__form.valid .button {
    background-color: var(--primary-color);
}

/* Estos estilos sirven el único propósito de hacer que los botones de "Connect with me" aprovechen todo el espacio disponible, nada componetizables. */
.contact__socials .button:has(.button__icon) {
    height: 70px;
    border-radius: 0;
}

.contact__socials .button:has(.button__icon) .button__icon {
    width: 55px;
    height: 55px;
}

.contact__socials .button:has(.button__icon) .button__label {
    font-size: 1.5rem;
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media (max-width: 767px) {
    .contact__container {
        flex-direction: column;
        gap: 20px;
    }

    .contact__left,
    .contact__right {
        width: 100%;
    }
}

/* Estilos para pantallas de tabletas en orientación vertical */
@media (min-width: 768px) and (max-width: 1199px) {
}
