.header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0px 20px;
    backdrop-filter: saturate(180%) blur(5px);
    font-size: 16px;
    font-weight: 500;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
    box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 200px;
    font-size: 24px;
    font-weight: bold;
    user-select: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 35px;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

.nav-links a:focus-visible {
    outline: 2px solid #f39c12;
    outline-offset: 10px;
    border-radius: 20px;
}

.nav-links a:hover {
    color: #f39c12;
}

.nav-links .active {
    position: relative;
}

.nav-links .active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #f39c12;
}