@import url("https://fonts.cdnfonts.com/css/euclid-circular-b");

* {
    box-sizing: border-box;
    font-family: "system-ui", "Euclid Circular B", sans-serif;
}

:root {
    max-width: 1920px;
    --body-bg-color: #000;
    --main-orange: #f39c12;
    --main-orange-hovered: #d5800c;
    --cool-green: #33b864;
    --mint-blue: #117eb8;
    --mint-blue-hovered: #0e6a99;
}

html {
    font-size: 16px;
}

body {
    width: 100vw;
    margin: 0;
    background-color: var(--body-bg-color);
    color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

.description {
    font-size: 1.2rem;
}

section {
    width: 100vw;
    min-height: 100vh;
    padding: 50px 7vw 0;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-orange);
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #111 inset;
    -webkit-text-fill-color: #fff;
}

.grecaptcha-badge {
    visibility: hidden;
}

.orange-text {
    color: var(--main-orange);
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media (max-width: 767px) {
    html {
        font-size: 12px;
    }
}

/* Estilos para pantallas de tabletas en orientación horizontal */
@media (min-width: 768px) and (max-width: 1199px) {
    html {
        font-size: 14px;
    }
}
