@import url("https://fonts.cdnfonts.com/css/euclid-circular-b");

* {
    box-sizing: border-box;
    font-family: "Euclid Circular B", sans-serif;
    line-height: 1.6;
}

:root {
    max-width: 1440px;
    --body-bg-color: #000;
    --primary-color: #6F23FF;
    --cool-green: #33b864;
    --font-color: #a8a29ecc;
    --font-white: #e4e4e3;
    --border-main-color: #111;
    --header-height: 70px;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    margin: 0;
    background-color: var(--body-bg-color);
    color: var(--font-color);
    overflow-x: hidden;
    counter-reset: section;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #050111, #000000);
    z-index: -1;
    pointer-events: none;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

h2::before {
    content: "0" counter(section) ". ";
    counter-increment: section;
    opacity: 0.7;
    margin-right: 0.5em;
}

h3 {
    font-size: 1.5rem;
}

h1,
h2,
h3 {
    color: var(--font-white);
}

.description {
    font-size: 1.2rem;
}

section {
    max-width: 1720px;
    padding: 50px 6vw 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    margin-bottom: 2.5rem;
}

.section-separator {
    background-color: #252020;
    flex-grow: 1;
    height: 0.125rem;
    transform: translateY(400%);
    margin-left: 20px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #111 inset;
    -webkit-text-fill-color: #fff;
}

.grecaptcha-badge {
    visibility: hidden;
}

.orange-text {
    color: var(--primary-color);
}

.button {
    width: 90%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    background-color: var(--border-main-color);
    transition: 0.3s;
    font-size: 1.2rem;
    padding: 7px;
    text-align: center;
    color: var(--font-white);
}

.button:not([disabled]):hover {
    background-color: var(--primary-color);
}

.button[disabled] {
    color: #999;
}

.link-button {
    text-decoration: none;
}

.card {
    background-color: var(--body-bg-color);
    border: 1px solid var(--border-main-color);
    border-radius: 12px;
}

.hyperlink {
    text-underline-offset: 0.15em;
}

.hyperlink,
.highlighted {
    color: var(--primary-color);
    font-weight: 600;
}

section:first-of-type {
    padding-top: var(--header-height);
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media (max-width: 767px) {
    html {
        font-size: 12px;
    }
}

/* Estilos para pantallas de tabletas en orientación horizontal */
@media (min-width: 768px) and (max-width: 1199px) {
    html {
        font-size: 14px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}